// variables

$base-color: #E63946;

body{
    font-family: 'Roboto', sans-serif;
    background: #fcfcfc;
}

.btn{
    background: $base-color;
    display: inline-block;
    padding: 10px 20px;
    color: #FFF;
    text-transform: uppercase;
    border: 1px solid $base-color;

    &:disabled{
        cursor: default;

        &:hover{
            color: #FFF;
        }
    }
}

.btn--search{
    width: 17%;
    margin-left: 16px;
}

.btn--full{
    width: 100%;
}
.logo{
    margin-bottom: 20px;

    .logo-text{
        background: $base-color;
        color: #FFF;
        border-radius: 5px;
        padding: 10px;
        font-size: 30px;
        position: relative;

        &:after{
            content: "";
            position: absolute;
            right: -9px;
            height: 100%;
            width: 4px;
            background: $base-color;
            top: 0;
        }

        &:before{
            content: "";
            position: absolute;
            right: -19px;
            height: 100%;
            width: 4px;
            background: $base-color;
            top: 0;
        }
    }
}
.banner-title{
    padding: 20px;
}
.main-title{
    color: $base-color;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.subtitle{
    font-size: 16px;
    // text-transform: uppercase;
    color: #353434;
}


.card{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background: #FFF;
    padding: 25px;
    margin-bottom: 20px;
}
.card-title{
    margin-bottom: 30px;
}

.form-group{
    margin-bottom: 20px;
}

.form-input{
    background: #FFF;
    border: 2px solid #A8DADC;
    display: block;
    width: 100%;
    color: #457B9D;
    padding: 10px;
    border-radius: 4px;

    &::-webkit-input-placeholder {
       color: #457B9D;
    }

    &:disabled{
        border-color: #e2e2e2;
        background: #f3f3f3;

        &::-webkit-input-placeholder {
            color: #e2e2e2;
            }
    }
}

.input--search{
    width: 80%;
    display: inline-block;
}

.form-textarea{
    background: #FFF;
    border: 2px solid #A8DADC;
    width: 100%;
    height: 100px;
    color: #457B9D;
    padding: 10px;
}


.add-field{
    color: $base-color;
    cursor: pointer;

    &:hover{
        color: $base-color;
        opacity: 0.8;
    }
}

.address-container + .address-container{
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 40px;
}

.error-message{
    background: #457B9D;
    display: block;
    color: #FFF;
    margin: 30px 0 0 0;
    padding: 20px;
}

.table-container{
    margin-top: 60px;
}
.table-info{
    margin-bottom: 10px;
}