<div class="banner-title">
    <div class="container">
        <div class="col-md-12">
            <div class="logo">
                <span class="logo-text">
                    Upside
                </span>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-md-8">

        <form action="" [formGroup]="formContact" (ngSubmit)="onSubmit()" novalidate>
            
            <div class="card">
                <div class="card-title">
                    <h2 class="main-title">Dados pessoais</h2>
                    <p class="subtitle">
                        Adicione aqui as informações pessoais do seu contato.
                    </p>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="name" placeholder="Nome completo" class="form-input">
                </div>
                <div class="form-group">
                    <input type="email" formControlName="email" placeholder="E-mail" class="form-input">
                </div>
                <div formArrayName="tel">
                    <div class="form-group" *ngFor="let tel of formContact['controls'].tel['controls']; let i = index">
                        <div [formGroupName]="i">
                            <input type="text" formControlName="number" placeholder="Telefone" class="form-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <a (click)="addTel()" class="add-field">+ adicionar novo telefone</a>
                    </div>
                </div> 
                <div class="form-group">
                    <textarea name="" id="" cols="30" rows="10" formControlName="obs" placeholder="Observações do contato" class="form-textarea"></textarea>
                </div>
            </div>

            <div class="card">
                <div class="card-title">
                    <h2 class="main-title">Endereço</h2>
                    <p class="subtitle">
                        Adicione aqui as informações sobre endereço do seu contato.
                    </p>
                </div>

                 <div formArrayName="address">
                    <div *ngFor="let address of formContact['controls'].address['controls']; let i = index" class="address-container">
                        <div [formGroupName]="i">
                            <div class="form-group form-search">
                                <input type="text" formControlName="cep" placeholder="Digite seu CEP" class="form-input input--search">
                                <span (click)="getAddress(i)" class="btn btn--search">Buscar</span>
                            </div>
                            
                            <div class="form-group">
                                
                                <input type="text" formControlName="street" placeholder="Rua"  [attr.disabled]="enableAddress" class="form-input">
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="bairro" placeholder="Bairro" [attr.disabled]="enableAddress" class="form-input">
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="state" placeholder="Estado" [attr.disabled]="enableAddress" class="form-input">
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="city" placeholder="Cidade" [attr.disabled]="enableAddress" class="form-input">
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="addressNumber" placeholder="Número" class="form-input">
                            </div> 
                        </div>
                    </div>
                    <div class="form-group">
                        <a (click)="addAddress()" class="add-field">+ adicionar novo endereço</a>
                    </div>
                    <span class="error-message" *ngIf="showCepError">
                        O CEP escolhido não existe, por favor digite novamente.
                    </span>
                    <span class="error-message" *ngIf="showEmailError">
                        Não foi possível cadastrar este contato, pois este e-mail já pertence à nossa base.
                    </span>
                </div>
            </div>    

            <button [disabled]="formContact.invalid" class="btn btn--full">Enviar</button>
            
        </form>
    </div>
</div>

<div class="container table-container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-title">
                <h2 class="main-title">Lista de contatos</h2>
                <p class="subtitle">
                    Veja todos os contatos que pertecem à sua base.
                </p>
            </div>
            <table class="table table-striped">
                <thead> 
                    <tr> 
                        <th>Nome</th> 
                        <th>E-mail</th> 
                        <th>Telefone</th> 
                        <th>Endereço</th>
                        <th>Obs.:</th>
                    </tr> 
                </thead>
                <tr *ngFor="let y of userList">
                    <th>
                        {{y.name}}
                    </th>
                    <td>
                        {{y.email}}
                    </td>
                    <td>
                        <div *ngFor="let t of y.tel" class="table-info">
                            {{t.number}}
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let e of y.address" class="table-info">
                            <div>
                                {{e.cep}}
                            </div>
                            <div>
                                {{e.street}} - {{e.addressNumber}}
                            </div>
                            <div>
                                {{e.bairro}}
                            </div>
                            <div>
                                {{e.city}} - {{e.state}}
                            </div>        
                        </div>
                    </td>
                    <td>
                        {{y.obs}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>